@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@media (prefers-color-scheme: light) {
  :root {
    /****************** COLORS ******************/
    --MAIN-COLOR: #f7f7f7;
    --MAIN-COLOR-COVER: hsla(0, 0%, 97%, 0.35);
    --TEXT-COLOR: #111;
    --TEXT-COLOR-OPPOSITE: #f7f7f7;
    --PANEL-LIGHT: hsla(0, 0%, 96%, 0.95);
    --PANEL-DARK: hsla(0, 0%, 43%, 0.25);
    --PANEL-SHADOW-COLOR: hsla(0, 0%, 23%, 0.4);
    --CALC-SCROLLBAR-TRACK: #f7f7f7;
    --CALC-SCROLLBAR: hsla(0, 0%, 29%, 0.65);
    --CALC-SCROLLBAR-HOVER: hsla(0, 0%, 17%, 0.75);
    --CALC-HISTORY-BORDER-COLOR: hsla(0, 0%, 55%, 0.75);
    --CALC-BG-LIGHT: hsla(0, 0%, 91%, 0.45);
    --CALC-BG-DARK: hsla(0, 0%, 73%, 0.35);
    --CALC-BORDER-COLOR: hsla(0, 0%, 96%, 0.95);
    --CALC-SHADOW-COLOR: hsla(0, 0%, 57%, 0.75);
    --BTN-BG-OPERAND-LIGHT: hsl(0, 0%, 97%);
    --BTN-BG-OPERAND-LIGHT80: hsla(0, 0%, 97%, 0.8);
    --BTN-BG-OPERAND-LIGHT60: hsla(0, 0%, 97%, 0.6);
    --BTN-BG-OPERAND-DARK: hsl(0, 0%, 85%);
    --BTN-BG-OPERAND-DARK80: hsla(0, 0%, 85%, 0.8);
    --BTN-BG-OPERAND-DARK60: hsla(0, 0%, 85%, 0.6);
    --BTN-BG-OPERATOR-LIGHT: hsl(196, 45%, 93%);
    --BTN-BG-OPERATOR-LIGHT80: hsla(196, 45%, 93%, 0.8);
    --BTN-BG-OPERATOR-LIGHT60: hsla(196, 45%, 93%, 0.6);
    --BTN-BG-OPERATOR-DARK: hsl(204, 18%, 75%);
    --BTN-BG-OPERATOR-DARK80: hsla(204, 18%, 75%, 0.8);
    --BTN-BG-OPERATOR-DARK60: hsla(204, 18%, 75%, 0.6);
    --BTN-BG-SPECIAL-LIGHT: hsl(195, 2%, 67%);
    --BTN-BG-SPECIAL-LIGHT80: hsla(195, 2%, 67%, 0.8);
    --BTN-BG-SPECIAL-LIGHT60: hsla(195, 2%, 67%, 0.6);
    --BTN-BG-SPECIAL-DARK: hsl(192, 3%, 44%);
    --BTN-BG-SPECIAL-DARK80: hsla(192, 3%, 44%, 0.8);
    --BTN-BG-SPECIAL-DARK60: hsla(192, 3%, 44%, 0.6);
    --BTN-SHADOW-COLOR: hsla(0, 0%, 23%, 0.35);
    --BTN-TEXT-SHADOW-OPERAND-COLOR: hsla(0, 0%, 53%, 0.55);
    --BTN-TEXT-SHADOW-OPERATOR-COLOR: hsla(204, 4%, 53%, 0.8);
    --BTN-TEXT-SHADOW-SPECIAL-COLOR: hsla(0, 0%, 72%, 0.5);
    --BTN-HOVER-BRIGHTNESS: 1.075;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    /****************** COLORS ******************/
    --MAIN-COLOR: #333333;
    --MAIN-COLOR-COVER: hsla(0, 0%, 27%, 0.35);
    --TEXT-COLOR: #e9e7e1;
    --TEXT-COLOR-OPPOSITE: #e9e7e1;
    --PANEL-LIGHT: hsla(0, 0%, 32%, 0.9);
    --PANEL-DARK: hsla(0, 0%, 27%, 0.75);
    --PANEL-SHADOW-COLOR: hsla(0, 0%, 0%, 1);
    --CALC-SCROLLBAR-TRACK: hsla(0, 0%, 38%, 0.85);
    --CALC-SCROLLBAR: hsla(0, 0%, 76%, 0.9);
    --CALC-SCROLLBAR-HOVER: hsla(0, 0%, 91%, 0.9);
    --CALC-HISTORY-BORDER-COLOR: hsla(0, 0%, 48%, 0.95);
    --CALC-BG-LIGHT: hsla(230, 3%, 11%, 0.4);
    --CALC-BG-DARK: hsla(227, 5%, 21%, 0.4);
    --CALC-BORDER-COLOR: hsla(230, 2%, 27%, 0.95);
    --CALC-SHADOW-COLOR: hsla(0, 0%, 5%, 0.75);
    --BTN-BG-OPERAND-LIGHT: hsl(222, 4%, 35%);
    --BTN-BG-OPERAND-LIGHT80: hsla(222, 4%, 35%, 0.8);
    --BTN-BG-OPERAND-LIGHT60: hsla(222, 4%, 35%, 0.6);
    --BTN-BG-OPERAND-DARK: hsl(225, 2%, 19%);
    --BTN-BG-OPERAND-DARK80: hsla(225, 2%, 19%, 0.8);
    --BTN-BG-OPERAND-DARK60: hsla(225, 2%, 19%, 0.6);
    --BTN-BG-OPERATOR-LIGHT: hsl(35, 70%, 61%);
    --BTN-BG-OPERATOR-LIGHT80: hsla(35, 70%, 61%, 0.8);
    --BTN-BG-OPERATOR-LIGHT60: hsla(35, 70%, 61%, 0.6);
    --BTN-BG-OPERATOR-DARK: hsl(27, 59%, 42%);
    --BTN-BG-OPERATOR-DARK80: hsla(27, 59%, 42%, 0.8);
    --BTN-BG-OPERATOR-DARK60: hsla(27, 59%, 42%, 0.6);
    --BTN-BG-SPECIAL-LIGHT: hsl(205, 12%, 67%);
    --BTN-BG-SPECIAL-LIGHT80: hsla(205, 12%, 67%, 0.8);
    --BTN-BG-SPECIAL-LIGHT60: hsla(205, 12%, 67%, 0.6);
    --BTN-BG-SPECIAL-DARK: hsl(209, 7%, 39%);
    --BTN-BG-SPECIAL-DARK80: hsla(209, 7%, 39%, 0.8);
    --BTN-BG-SPECIAL-DARK60: hsla(209, 7%, 39%, 0.6);
    --BTN-SHADOW-COLOR: hsla(0, 0%, 2%, 0.7);
    --BTN-TEXT-SHADOW-OPERAND-COLOR: hsla(0, 0%, 79%, 0.65);
    --BTN-TEXT-SHADOW-OPERATOR-COLOR: hsla(54, 86%, 75%, 0.45);
    --BTN-TEXT-SHADOW-SPECIAL-COLOR: hsla(0, 0%, 73%, 0.65);
    --BTN-HOVER-BRIGHTNESS: 1.325;
  }
}
:root {
  /****************** SHADOWS ******************/
  --CALC-SHADOW:
      2px 2px 14px var(--CALC-SHADOW-COLOR),
      2px 2px 24px var(--CALC-SHADOW-COLOR);
  --HEADER-SHADOW:
      -2px -2px 8px var(--PANEL-LIGHT),
      2px 2px 9px var(--PANEL-SHADOW-COLOR);
  --BTN-SHADOW:
      2px 2px 14px var(--BTN-SHADOW-COLOR);
  --BTN-SHADOW-ACTIVE:
      1px 2px 16px var(--BTN-SHADOW-COLOR),
      1px 2px 6px var(--BTN-SHADOW-COLOR);
  --BTN-TEXT-SHADOW-OPERAND: 0 0 3px var(--BTN-TEXT-SHADOW-OPERAND-COLOR);
  --BTN-TEXT-SHADOW-OPERATOR: 0 0 3px var(--BTN-TEXT-SHADOW-OPERATOR-COLOR);
  --BTN-TEXT-SHADOW-SPECIAL: 0 0 3px var(--BTN-TEXT-SHADOW-SPECIAL-COLOR);
  /****************** SPACING (PADDING & MARGIN & GAP) ******************/
  --SPACING-XL: 1.25rem;
  --SPACING-LG: 1rem;
  --SPACING-MD: 0.5rem;
  --SPACING-SM: 0.25rem;
  --SPACING-XS: 0.125rem;
  /****************** FONT SIZES ******************/
  --FS-MD: 1rem;
}
.themes h2, .calculator__history h3, .calculator__panel h3, .calculator__btns h3 {
  position: absolute;
  left: -10000px;
}

header h1, .calculator__history-entries .calculator__history-empty, .calculator__history-entries .calculator__history-entry .entry-header-time, .calculator__history-entries .calculator__history-entry .entry-body .entry-input, .calculator__panel-output-main, .calculator__panel-output-prev {
  white-space: nowrap;
}

.credits a, .github__btn {
  display: inline-block;
  transition: scale 0.125s;
}
.credits a:-moz-any-link, .github__btn:-moz-any-link {
  color: var(--TEXT-COLOR);
}
.credits a:any-link, .github__btn:any-link {
  color: var(--TEXT-COLOR);
}
.credits a:hover, .github__btn:hover, .credits a:focus-visible, .github__btn:focus-visible {
  scale: 1.025;
}
.credits a:active, .github__btn:active {
  scale: 0.975;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

form, input, button, label, textarea {
  font: inherit;
}

.calculator__btns {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--SPACING-MD);
  padding-top: var(--SPACING-SM);
}
.calculator__btns button {
  color: var(--TEXT-COLOR);
  cursor: pointer;
  transition: text-shadow 0.125s, filter 0.08s, box-shadow 0.25s, transform 0.25s;
  margin: var(--SPACING-SM);
  border-radius: 20px;
  border: none;
  position: relative;
  box-shadow: var(--BTN-SHADOW);
  font-size: 1.35rem;
  line-height: 1.35rem;
  outline-color: transparent;
}
.calculator__btns button span {
  position: relative;
  z-index: 1;
}
.calculator__btns button:hover, .calculator__btns button:focus-visible {
  filter: brightness(1.075);
  box-shadow: var(--BTN-SHADOW-ACTIVE);
  transform: translate(0, -1%);
}
.calculator__btns button:active, .calculator__btns button.pressed {
  filter: brightness(0.925);
  transform: translate(0, 1%);
  transition: text-shadow 0.125s, filter 0.075s, box-shadow 0.075s, transform 0.0075s;
}
.calculator__btns button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 85%;
  height: 85%;
}
.calculator__btns .btn-operand {
  color: var(--TEXT-COLOR);
  background-color: var(--BTN-BG-OPERAND-LIGHT);
  background-image: linear-gradient(135deg, var(--BTN-BG-OPERAND-LIGHT), var(--BTN-BG-OPERAND-DARK));
}
.calculator__btns .btn-operand::before {
  background-image: linear-gradient(135deg, var(--BTN-BG-OPERAND-DARK), var(--BTN-BG-OPERAND-DARK80), transparent, var(--BTN-BG-OPERAND-LIGHT80), var(--BTN-BG-OPERAND-LIGHT));
}
.calculator__btns .btn-operand:hover, .calculator__btns .btn-operand:focus-visible {
  text-shadow: var(--BTN-TEXT-SHADOW-OPERAND);
}
.calculator__btns .btn-operator {
  color: var(--TEXT-COLOR);
  background-color: var(--BTN-BG-OPERATOR-LIGHT);
  background-image: linear-gradient(135deg, var(--BTN-BG-OPERATOR-LIGHT), var(--BTN-BG-OPERATOR-DARK));
}
.calculator__btns .btn-operator::before {
  background-image: linear-gradient(135deg, var(--BTN-BG-OPERATOR-DARK80), var(--BTN-BG-OPERATOR-DARK80), transparent, var(--BTN-BG-OPERATOR-LIGHT80), var(--BTN-BG-OPERATOR-LIGHT));
}
.calculator__btns .btn-operator:hover, .calculator__btns .btn-operator:focus-visible {
  text-shadow: var(--BTN-TEXT-SHADOW-OPERATOR);
}
.calculator__btns .btn-special {
  color: var(--TEXT-COLOR-OPPOSITE);
  background-color: var(--BTN-BG-SPECIAL-LIGHT);
  background-image: linear-gradient(135deg, var(--BTN-BG-SPECIAL-LIGHT), var(--BTN-BG-SPECIAL-DARK));
}
.calculator__btns .btn-special::before {
  background-image: linear-gradient(135deg, var(--BTN-BG-SPECIAL-DARK80), var(--BTN-BG-SPECIAL-DARK60), transparent, var(--BTN-BG-SPECIAL-LIGHT60), var(--BTN-BG-SPECIAL-LIGHT80));
}
.calculator__btns .btn-special:hover, .calculator__btns .btn-special:focus-visible {
  text-shadow: var(--BTN-TEXT-SHADOW-SPECIAL);
}
.calculator__btns #calculator__theme-header {
  font-size: 1.3rem;
  grid-column: 1/3;
  color: var(--TEXT-COLOR-OPPOSITE);
  background-color: var(--BTN-BG-SPECIAL-LIGHT);
  background-image: linear-gradient(150deg, var(--BTN-BG-SPECIAL-LIGHT), var(--BTN-BG-SPECIAL-DARK));
}
.calculator__btns #calculator__theme-header::before {
  width: 93%;
  background-image: linear-gradient(150deg, var(--BTN-BG-SPECIAL-DARK80), var(--BTN-BG-SPECIAL-DARK60), transparent, var(--BTN-BG-SPECIAL-LIGHT60), var(--BTN-BG-SPECIAL-LIGHT80));
}
.calculator__btns #calculator__theme-header:hover, .calculator__btns #calculator__theme-header:focus-visible {
  text-shadow: var(--BTN-TEXT-SHADOW-SPECIAL);
}
.calculator__btns #btn-eq, .calculator__btns #btn-add, .calculator__btns #btn-sub, .calculator__btns #btn-mul, .calculator__btns #btn-div, .calculator__btns #btn-exp, .calculator__btns #btn-dec {
  font-size: 1.75rem;
}

.calculator__panel {
  padding: var(--SPACING-MD);
  margin: var(--SPACING-SM);
  margin-bottom: 0;
  color: var(--TEXT-COLOR);
}
.calculator__panel-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}
.calculator__panel-header .calculator-error {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: var(--SPACING-MD);
  opacity: 0;
  color: var(--TEXT-COLOR);
  animation: unset;
}
.calculator__panel-header #calculator-history-btn {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  color: var(--TEXT-COLOR);
  cursor: pointer;
  transition: border-radius 0.25s, filter 0.25s, box-shadow 0.25s, scale 0.125s;
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50% 50% 0 50%;
}
.calculator__panel-header #calculator-history-btn:hover, .calculator__panel-header #calculator-history-btn:focus-visible {
  filter: brightness(var(--BTN-HOVER-BRIGHTNESS));
}
.calculator__panel-header #calculator-history-btn:active, .calculator__panel-header #calculator-history-btn.pressed {
  scale: 0.975;
  filter: brightness(0.95);
  transition: filter 0.075s, scale 0.075s;
}
.calculator__panel-header #calculator-history-btn i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calculator__panel-header #calculator-history-btn #open-history {
  animation: fade-in 0.5s forwards;
}
.calculator__panel-header #calculator-history-btn #close-history {
  opacity: 0;
}
.calculator__panel-header #calculator-history-btn #close-history-mobile {
  display: none;
}
.calculator__panel-header #calculator-history-btn.history-active {
  border-radius: 50% 0 50% 50%;
}
.calculator__panel-header #calculator-history-btn.history-active #open-history {
  animation: fade-out 0.25s forwards;
}
.calculator__panel-header #calculator-history-btn.history-active #close-history {
  animation: fade-in 0.5s forwards;
}
@media screen and (min-width: 576px) {
  .calculator__panel-header #calculator-history-btn.history-active {
    border-radius: 50% 50% 0 50%;
  }
}
.calculator__panel-output {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  padding-top: 0.5rem;
}
.calculator__panel-output-main {
  font-size: 2.5rem;
  text-align: right;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 100%;
  background-color: transparent;
  border: none;
  outline-color: transparent;
  padding: var(--SPACING-SM);
  padding-bottom: var(--SPACING-XS);
  margin-bottom: 3px;
  overflow-x: auto;
}
.calculator__panel-output-main::-webkit-scrollbar {
  height: 3px;
}
.calculator__panel-output-main::-webkit-scrollbar-track {
  background: var(--CALC-SCROLLBAR-TRACK);
  border-radius: 10px;
}
.calculator__panel-output-main::-webkit-scrollbar-thumb {
  background: var(--CALC-SCROLLBAR);
  border-radius: 10px;
}
.calculator__panel-output-main::-webkit-scrollbar-thumb:hover {
  background: var(--CALC-SCROLLBAR-HOVER);
}
.calculator__panel-output-prev {
  width: 100%;
  text-align: right;
  padding: var(--SPACING-SM);
  padding-bottom: var(--SPACING-XS);
  margin-bottom: 3px;
  overflow-x: auto;
}
.calculator__panel-output-prev::-webkit-scrollbar {
  height: 3px;
}
.calculator__panel-output-prev::-webkit-scrollbar-track {
  background: var(--CALC-SCROLLBAR-TRACK);
  border-radius: 10px;
}
.calculator__panel-output-prev::-webkit-scrollbar-thumb {
  background: var(--CALC-SCROLLBAR);
  border-radius: 10px;
}
.calculator__panel-output-prev::-webkit-scrollbar-thumb:hover {
  background: var(--CALC-SCROLLBAR-HOVER);
}

/*
TODO
Once the window gets too small for the history panel to open up on the side, it will instead be integrated into the calculator.
Sort of like a dropdown, the history panel will slide down from the top of the calculator, but leaves the calculator panel visible.
*/
.calculator__history {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--CALC-SHADOW);
  width: clamp(150px, 50vw, 325px);
  height: clamp(320px, 82vh, 675px);
  padding: var(--SPACING-MD);
  -ms-flex-order: 1;
      order: 1;
  overflow: hidden;
  display: none;
  animation: hide-history-panel 0.35s 0.05s backwards;
  color: var(--TEXT-COLOR);
}
.calculator__history.history-panel-active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: unset;
      justify-content: unset;
  -ms-flex-align: unset;
      align-items: unset;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  animation: show-history-panel 0.35s forwards;
}
@keyframes show-history-panel {
  from {
    width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    width: clamp(150px, 50vw, 325px);
  }
}
@keyframes hide-history-panel {
  from {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: unset;
        justify-content: unset;
    -ms-flex-align: unset;
        align-items: unset;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    opacity: 1;
    width: clamp(150px, 50vw, 325px);
  }
  70% {
    opacity: 0.5;
  }
  to {
    width: 0;
    padding: 0;
    opacity: 0;
  }
}
.calculator__history-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  padding: var(--SPACING-SM);
  animation: fade-out 0.15s forwards;
}
.calculator__history-header.history-header-active {
  animation: fade-in 0.15s 0.125s backwards;
}
.calculator__history-header button {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  color: var(--TEXT-COLOR);
  cursor: pointer;
  transition: border-radius 0.25s, filter 0.25s, box-shadow 0.25s, scale 0.125s;
  margin-right: var(--SPACING-XS);
  padding: var(--SPACING-MD) var(--SPACING-LG);
}
.calculator__history-header button:hover, .calculator__history-header button:focus-visible {
  filter: brightness(var(--BTN-HOVER-BRIGHTNESS));
}
.calculator__history-header button:active, .calculator__history-header button.pressed {
  scale: 0.975;
  filter: brightness(0.95);
  transition: filter 0.075s, scale 0.075s;
}
.calculator__history-entries {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: var(--SPACING-MD);
  padding-bottom: 0;
  margin: var(--SPACING-SM);
  overflow-x: hidden;
  overflow-y: auto;
  animation: fade-out 0.15s forwards;
}
.calculator__history-entries.entries-active {
  animation: fade-in 0.15s 0.125s backwards;
}
.calculator__history-entries::-webkit-scrollbar {
  width: 3px;
}
.calculator__history-entries::-webkit-scrollbar-track {
  background: var(--CALC-SCROLLBAR-TRACK);
  border-radius: 10px;
}
.calculator__history-entries::-webkit-scrollbar-thumb {
  background: var(--CALC-SCROLLBAR);
  border-radius: 10px;
}
.calculator__history-entries::-webkit-scrollbar-thumb:hover {
  background: var(--CALC-SCROLLBAR-HOVER);
}
.calculator__history-entries .calculator__history-empty {
  text-align: center;
  animation: fade-in 0.35s;
}
.calculator__history-entries .calculator__history-entry {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  border-top: 1px solid var(--CALC-HISTORY-BORDER-COLOR);
  padding: var(--SPACING-MD) 0;
}
.calculator__history-entries .calculator__history-entry .entry-header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}
.calculator__history-entries .calculator__history-entry .entry-header-time {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: var(--SPACING-MD);
}
.calculator__history-entries .calculator__history-entry .entry-header-copy, .calculator__history-entries .calculator__history-entry .entry-header-delete {
  background-color: transparent;
  color: var(--TEXT-COLOR);
  border: none;
  padding: var(--SPACING-MD);
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1rem;
  border-radius: 10px;
  transition: transform 0.15s, background-color 0.125s;
}
.calculator__history-entries .calculator__history-entry .entry-header-copy:hover, .calculator__history-entries .calculator__history-entry .entry-header-copy:focus-visible, .calculator__history-entries .calculator__history-entry .entry-header-delete:hover, .calculator__history-entries .calculator__history-entry .entry-header-delete:focus-visible {
  background-color: var(--PANEL-LIGHT);
}
.calculator__history-entries .calculator__history-entry .entry-header-copy:active, .calculator__history-entries .calculator__history-entry .entry-header-delete:active {
  transform: scale(0.925);
  transition: transform 0.075s;
  background-color: var(--PANEL-DARK);
}
.calculator__history-entries .calculator__history-entry .entry-body {
  width: 100%;
  padding: 0 var(--SPACING-MD);
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-input {
  width: 100%;
  text-align: right;
  margin-bottom: 3px;
  overflow-x: auto;
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-input::-webkit-scrollbar {
  height: 1px;
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-input::-webkit-scrollbar-track {
  background: var(--CALC-SCROLLBAR-TRACK);
  border-radius: 10px;
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-input::-webkit-scrollbar-thumb {
  background: var(--CALC-SCROLLBAR);
  border-radius: 10px;
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-input::-webkit-scrollbar-thumb:hover {
  background: var(--CALC-SCROLLBAR-HOVER);
}
.calculator__history-entries .calculator__history-entry .entry-body .entry-output {
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
}

.github__btn {
  padding: var(--SPACING-SM);
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  display: none;
}
.github__btn i {
  font-size: 1.75rem;
}
.github__btn .github__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .github__btn .github__text {
    display: inline;
  }
}

@media screen and (min-width: 576px) {
  .github__btn {
    display: block;
  }
}
.credits {
  color: var(--TEXT-COLOR);
  padding: var(--SPACING-SM);
}
.mobile-options {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%);
  margin-right: var(--SPACING-XL);
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
  .mobile-options {
    display: none;
  }
}
.themes {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: var(--SPACING-XL);
}
.themes__btn {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  color: var(--TEXT-COLOR);
  cursor: pointer;
  transition: border-radius 0.25s, filter 0.25s, box-shadow 0.25s, scale 0.125s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  gap: var(--SPACING-SM);
  padding: var(--SPACING-MD);
}
.themes__btn:hover, .themes__btn:focus-visible {
  filter: brightness(var(--BTN-HOVER-BRIGHTNESS));
}
.themes__btn:active, .themes__btn.pressed {
  scale: 0.975;
  filter: brightness(0.95);
  transition: filter 0.075s, scale 0.075s;
}
.themes__btn .themes__current {
  width: 16px;
  height: 16px;
  background-color: var(--MAIN-COLOR);
  border-radius: 50%;
  border: 1px solid var(--TEXT-COLOR);
}
.themes__btn .themes__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .themes__btn .themes__text {
    display: inline;
  }
}
.themes__btn #open-themes {
  animation: fade-in 0.5s forwards;
}
.themes__btn #close-themes {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-80%, -45%);
  opacity: 0;
}
.themes__btn.themes-active #open-themes {
  animation: fade-out 0.25s forwards;
}
.themes__btn.themes-active #close-themes {
  animation: fade-in 0.5s forwards;
}
.themes__panel {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  gap: var(--SPACING-SM);
  padding: var(--SPACING-MD);
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  border-radius: 10px;
  margin-top: var(--SPACING-MD);
}
.themes__panel-option {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.15s;
}
.themes__panel-option:hover, .themes__panel-option:focus-visible {
  transform: scale(1.125);
}
.themes__panel-option:active {
  transform: scale(0.975);
  transition: transform 0.075s;
}
.themes__panel.panel-active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

@media screen and (min-width: 576px) {
  .themes {
    display: block;
  }
}
.keyboard-shortcuts {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: var(--SPACING-LG);
  color: var(--TEXT-COLOR);
}
.keyboard-shortcuts__btn {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  color: var(--TEXT-COLOR);
  cursor: pointer;
  transition: border-radius 0.25s, filter 0.25s, box-shadow 0.25s, scale 0.125s;
  padding: var(--SPACING-MD);
  padding-right: calc(var(--SPACING-MD) + 2px);
  position: relative;
  transform: translateY(-50%);
}
.keyboard-shortcuts__btn:hover, .keyboard-shortcuts__btn:focus-visible {
  filter: brightness(var(--BTN-HOVER-BRIGHTNESS));
}
.keyboard-shortcuts__btn:active, .keyboard-shortcuts__btn.pressed {
  scale: 0.975;
  filter: brightness(0.95);
  transition: filter 0.075s, scale 0.075s;
}
.keyboard-shortcuts__btn #open-keyboard-shortcuts {
  animation: fade-in 0.5s forwards;
}
.keyboard-shortcuts__btn #close-keyboard-shortcuts {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(80%, -45%);
  opacity: 0;
}
.keyboard-shortcuts__btn.keyboard-shortcuts-active #open-keyboard-shortcuts {
  animation: fade-out 0.25s forwards;
}
.keyboard-shortcuts__btn.keyboard-shortcuts-active #close-keyboard-shortcuts {
  animation: fade-in 0.5s forwards;
}
.keyboard-shortcuts__panel {
  display: none;
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--HEADER-SHADOW);
  padding: var(--SPACING-MD);
  border-radius: 10px;
  position: relative;
  border-collapse: collapse;
  overflow: hidden;
  animation: hide-keyboard-shortcuts-panel 0.5s forwards;
}
.keyboard-shortcuts__panel.panel-active {
  display: block;
  animation: show-keyboard-shortcuts-panel 0.5s forwards;
}
@keyframes show-keyboard-shortcuts-panel {
  from {
    height: 0;
    padding-bottom: 0;
    opacity: 0;
  }
  30% {
    padding-bottom: var(--SPACING-MD);
    opacity: 0.8;
  }
  to {
    opacity: 1;
    height: 415px;
  }
}
@keyframes hide-keyboard-shortcuts-panel {
  from {
    display: block;
    opacity: 1;
    height: 415px;
    padding-bottom: var(--SPACING-MD);
  }
  70% {
    opacity: 0.5;
  }
  to {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
  }
}
.keyboard-shortcuts__panel tbody tr {
  position: relative;
}
.keyboard-shortcuts__panel tbody tr td:first-child {
  padding: var(--SPACING-SM) 0 var(--SPACING-MD) 0;
  position: relative;
  padding-right: var(--SPACING-MD);
}
.keyboard-shortcuts__panel tbody tr td:first-child .kbd {
  display: inline;
}
.keyboard-shortcuts__panel tbody tr td:first-child .kbd kbd {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  border-radius: 5px;
  padding: 1px 5px;
  border: 1px solid var(--TEXT-COLOR);
  box-shadow: 0 1px 0 var(--TEXT-COLOR);
}
.keyboard-shortcuts__panel tbody tr td:first-child .line {
  z-index: 0;
  width: 0px;
  height: 1px;
  background-color: var(--TEXT-COLOR);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(-1 * var(--SPACING-MD)), -50%);
}
.keyboard-shortcuts__panel tbody tr td:last-child {
  font-size: 14px;
}
.keyboard-shortcuts__panel th {
  text-align: left;
  padding-bottom: var(--SPACING-SM);
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  padding: var(--SPACING-MD);
  background-color: var(--MAIN-COLOR-COVER);
  position: relative;
}
header h1 {
  font-size: clamp(1.25rem, 7vw, 2rem);
  text-align: center;
  color: var(--TEXT-COLOR);
  transform: translateX(1.25%);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: var(--SPACING-XL);
  margin-bottom: var(--SPACING-LG);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
}

#outer-container {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: unset;
      justify-content: unset;
  -ms-flex-align: unset;
      align-items: unset;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-position: center;
  background-size: cover;
}

.calculator__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  height: 100%;
  background-color: var(--MAIN-COLOR-COVER);
}
.calculator__container .calculator {
  background-color: var(--CALC-BG-LIGHT);
  background-image: linear-gradient(135deg, var(--CALC-BG-DARK), var(--CALC-BG-LIGHT), var(--CALC-BG-LIGHT), var(--CALC-BG-DARK));
  border-radius: 32px;
  border: 1px solid var(--CALC-BORDER-COLOR);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: var(--CALC-SHADOW);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: unset;
      justify-content: unset;
  -ms-flex-align: unset;
      align-items: unset;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: clamp(250px, 85vw, 475px);
  height: clamp(320px, 82vh, 675px);
  padding: var(--SPACING-MD);
  position: relative;
  z-index: 1;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */