.calculator__container {
    display: grid;
    place-items: center;
    height: 100%;
    background-color: var(--BG-COLOR);

    .calculator {
        @include flex(unset, unset, column);
        width: clamp(300px, 70vw, 500px);
        height: clamp(350px, 60vmax, 500px);
        background: var(--CALC-BG-COLOR);
        box-shadow: var(--CALC-SHADOW);
        border-radius: 9px;
        padding: 0.5rem;

        backdrop-filter: blur(100px);

        &__display {
            @include flex;
            padding: 0.5rem;
            margin: 0.25rem;

            label {
                @extend %offscreen;
            }

            input, > button {
                padding: clamp(0.5rem, 2.5vw, 1.075rem);
            }

            input {
                flex-grow: 1;
            }

            > button {
                order: 1;
            }
        }

        &__btns {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0.5rem;
            padding-top: 0.25rem;

            #calculator__theme-header {
                margin: 0.25rem;
                border-radius: 7px;
                border: 1px solid var(--BTN-BORDER-COLOR);
                background-color: lightblue;
                grid-column: 1/3;
            }

            button {
                @include button-init(var(--BTN-SHADOW));
            }

            #btn-eq {
                background: lightblue;
            }

            #btn-cle, #btn-del {
                background-color: aliceblue;
            }

            .btn-operator {
                background-color: azure;
            }

        }
    }
}