.calculator {
    display: grid;
    place-items: center;
    height: 100%;

    &__container {
        display: flex;
        flex-flow: column nowrap;
        width: clamp(300px, 60vw, 600px);
        height: 50vh;
        background: greenyellow;

        .calculator__display {
            padding: 0.5rem;
            position: relative;

            input {
                width: 100%;
            }

            button {
                position: absolute;
                right: 0;
                transform: translateX(-0.5rem);
            }
        }

        .calculator__btns {
            flex-grow: 1;
            display: grid;
            grid-template-areas:
                "th th del cle"
                "pa1 pa2 per exp"
                "b7 b8 b9 div"
                "b4 b5 b6 mul"
                "b1 b2 b3 sub"
                "b0 dec eq add"
            ;

            #calculator__theme-header { grid-area: th; }
            #btn-cle { grid-area: cle;}
            #btn-del { grid-area: del;}
            #btn-exp { grid-area: exp;}
            #btn-per { grid-area: per;}
            #btn-pa1 { grid-area: pa1;}
            #btn-pa2 { grid-area: pa2;}
            #btn-div { grid-area: div;}
            #btn-mul { grid-area: mul;}
            #btn-sub { grid-area: sub;}
            #btn-add { grid-area: add;}
            #btn-dec { grid-area: dec;}
            #btn-eq { grid-area: eq;}
            #btn-b0 { grid-area: b0;}
            #btn-b1 { grid-area: b1;}
            #btn-b2 { grid-area: b2;}
            #btn-b3 { grid-area: b3;}
            #btn-b4 { grid-area: b4;}
            #btn-b5 { grid-area: b5;}
            #btn-b6 { grid-area: b6;}
            #btn-b7 { grid-area: b7;}
            #btn-b8 { grid-area: b8;}
            #btn-b9 { grid-area: b9;}

            button {
                margin: 0.25rem;
                
            }
        }
    }
}