.calculator__container {
    display: grid;
    place-items: center;
    height: 100%;
    background-color: var(--MAIN-COLOR75);

    // make this a gradient

    .calculator {
        @include flex(unset, unset, column);
        width: clamp(250px, 85vw, 475px);
        height: clamp(320px, 80vmax, 675px);
        background-color: var(--CALC-BG-LIGHT);
        background-image: linear-gradient(
            135deg, 
            var(--CALC-BG-DARK),
            var(--CALC-BG-LIGHT), 
            var(--CALC-BG-LIGHT), 
            var(--CALC-BG-DARK));
        box-shadow: var(--CALC-SHADOW);
        border-radius: 32px;
        border: var(--CALC-BORDER);
        padding: 0.5rem;

        backdrop-filter: blur(2px);

        &__panel {
            padding: 0.5rem;
            margin: 0.25rem;
            margin-bottom: 0;

            h3 {
                @extend %offscreen;
            }

            #calculator-history-btn {
                width: 10%;
                aspect-ratio: 1/1;
                position: relative;
                left: 100%;
                top: 0;
                transform: translate(-100%);
                border-radius: 1px;
                cursor: pointer;
                border: none;
                outline-color: transparent;
                border-radius: 50% 20px 0 50%;
                background-color: var(--BTN-BG-SPECIAL-LIGHT80);
                transition: 
                    border-radius 0.25s, 
                    filter 0.1s,
                    text-shadow 0.125s,
                    box-shadow 0.075s;

                &:hover, &:focus-visible {
                    filter: brightness(1.2);
                }
        
                &:active {
                    filter: brightness(0.8);
                }

                //TODO - add more styling to this button: gradient & shadow and hover/focus/active effects

                i {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                i[title="Show History"] {
                    animation: fade-in 0.5s forwards;
                }

                i[title="Go Back"] {
                    display: none;
                    animation: fade-out 0.25s forwards;
                }

                &.history-active {
                    border-radius: 50% 0 20px 50%;

                    // TODO - make button move to bottom
                    left: 100%;
                    top: 0;
                    transform: translate(-100%);

                    i[title="Show History"] {
                        display: none;
                        animation: fade-out 0.25s forwards;
                    }
    
                    i[title="Go Back"] {
                        display: inline-block;
                        animation: fade-in 0.5s forwards;
                    }
                }

                @keyframes fade-out {
                    from {
                        opacity: 100%;
                        display: inline-block;
                    }
                    to {
                        opacity: 0%;
                        display: none;
                    }
                }
                
                @keyframes fade-in {
                    from {
                        opacity: 0%;
                        display: none;
                    }
                    to {
                        opacity: 100%;
                        display: inline-block;
                    }
                }
            }

            &-input {
                @include flex(center, flex-end, column);
                padding-top: 0.5rem;

                label {
                    @extend %offscreen;
                }

                input {
                    padding: 0.25rem;
                    font-size: 2.5rem;
                    text-align: right;
                }

                input {
                    flex-grow: 1;
                    width: 100%;
                    overflow-x: auto;
                    background-color: transparent;
                    border: none;
                    outline-color: transparent;

                    // TODO - add more styling to the input box as well as HTML attributes such as placeholder and whatnot
                }

                &-prev {
                    width: 100%;
                    text-align: end;
                    padding: 0.25rem;
                    margin-bottom: 0.25rem;
                    overflow-x: scroll;

                    //TODO - edit the scrollbar
                }
            }
        }

        &__btns {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0.5rem;
            padding-top: 0.25rem;

            h3 {
                @extend %offscreen;
            }

            button {
                @include button-init();
            }

            .btn-operand {
                @include button-color();
            }

            .btn-operator {
                @include button-color(false, true);
            }

            .btn-special {
                @include button-color(false, false);
            }
            
            #calculator__theme-header {
                grid-column: 1/3;
                @include button-init(false);
                @include button-color(false, false, false);
            }

            #btn-eq, #btn-add, #btn-sub, #btn-mul, #btn-div, #btn-exp, #btn-dec {
                font-size: 1.75rem;
            }
        }
    }
}