@import 
    './abstracts/variables', 
    './abstracts/responsive', 
    './abstracts/config',
    './abstracts/keyframes';

@import 
    './base/reset', 
    './base/typography';

@import 
    './components/buttons',
    './components/header',
    './components/footer',
    './components/history',
    './components/themes';

@import 'calc';

#outer-container {
    height: 100vh;
    @include flex(unset, unset, column);

    //FIND a better bg image or make one urself - make it move infintely with JS or CSS
    background-image: url("./../img/360_F_294561375_CBNtbEztfsJCvSMfJVPC0QhA5MEYdmvg.jpg");
}

body {
    min-height: 100vh;
}