@use "./../../abstracts" as *;

.github__btn {
    @extend %link;
    padding: var(--SPACING-SM);
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: bold;
    text-decoration: none;
    background: none;
    border: none;
    display: none;

    i {
        font-size: 1.75rem;
    }

    .github__text {
        display: none;
    }

    @include media-md {
        .github__text {
            display: inline;
        }
    }    
}

@include media-sm {
    .github__btn {
        display: block;
    }
}