@use "./../../abstracts" as *;

.keyboard-shortcuts {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: var(--SPACING-LG);

    > p {
        position: relative;
        margin-bottom: var(--SPACING-MD);
        width: 250px;
        cursor: pointer;

        &:hover::before {
            content: "I Know";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            @include flex();  
        }
    }

    > button {
        padding: var(--SPACING-SM) var(--SPACING-MD);
    }

    table {
        display: block;
    }
}