@use "./../../abstracts" as *;

.settings {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: var(--SPACING-LG);
    color: var(--TEXT-COLOR);

    #open-settings {
        @include neumorphic-btn(FOOTER);
        position: absolute;
        right: 0;
        top: 0;
        translate: 0 -100%;
        width: 40px;
        height: 40px;
        padding: var(--SPACING-SM);
        font-size: 1.5rem;
        color: var(--TEXT-COLOR);
        z-index: 1;

        i {
            transition: rotate 0.75s, transform 0.75s;
        }

        &:is(:hover, :focus-visible) i {
            rotate: 120deg;
            transform: scale(1.125);
        }

        &:active i {
            rotate: 120deg;
            transform: scale(1);
            transition: rotate 0.5s, transform 0.125s;
        }
    }

    &__panel {
        @include neumorphic(FOOTER);
        border-radius: 10px;
        padding: var(--SPACING-MD);
        position: absolute;
        right: 0;
        bottom: 40px;
        margin-bottom: var(--SPACING-MD);
        display: none;

        button, form {
            @include flex(flex-start, center);
            border-radius: 6px;
            gap: var(--SPACING-MD);
            width: 100%;
            background-color: transparent;
            border: 1px solid transparent;
            padding: var(--SPACING-SM);
            cursor: pointer;
            transition: background-color 0.125s;
            color: var(--TEXT-COLOR);

            &:hover, &:focus-visible {
                background-color: var(--PANEL-LIGHT);
            }
            
            &:active {
                background-color: var(--PANEL-DARK);
            }
        }

        form label {
            cursor: pointer;
        }

        form input {
            cursor: pointer;
            order: -1;
            accent-color: var(--TEXT-COLOR);
        }

        &.panel-active {
            @include flex(center, flex-start, column);
        }
    }

    .credits {
        position: absolute;
        right: 0;
        bottom: 0;
        translate: -60px;

        a {
            @extend %link;
        }
    }
}