@use "./../../abstracts" as *;

.calculator__panel {
    padding: var(--SPACING-MD);
    margin: var(--SPACING-SM);
    margin-bottom: 0;

    h3 {
        @extend %offscreen;
    }

    &-output {
        @include flex(center, flex-end, column);
        padding-top: 0.5rem;

        &-main {
            padding: var(--SPACING-SM);
            font-size: 2.5rem;
            text-align: right;
            flex-grow: 1;
            width: 100%;
            overflow-x: auto;
            background-color: transparent;
            border: none;
            outline-color: transparent;
        }

        &-prev {
            width: 100%;
            text-align: end;
            padding: var(--SPACING-SM);
            margin-bottom: var(--SPACING-SM);
            overflow-x: scroll;

            //TODO - edit the scrollbar
            overflow: auto;
        }
    }
}