@use "./../../abstracts/" as *;
@use "./../buttons" as *;

.calculator__btns {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: var(--SPACING-MD);
    padding-top: var(--SPACING-SM);

    h3 {
        @extend %offscreen;
    }

    button {
        @include calc-button-init();
    }

    .btn-operand {
        @include calc-button-color();
    }

    .btn-operator {
        @include calc-button-color(false, true);
    }

    .btn-special, #calculator__theme-header {
        @include calc-button-color(false, false);
    }
    
    #calculator__theme-header {
        font-size: 1.3rem;
        grid-column: 1/3;
        
        &::before {
            width: 93%;
        }
    }

    #btn-eq, #btn-add, #btn-sub, #btn-mul, #btn-div, #btn-exp, #btn-dec {
        font-size: 1.75rem;
    }
}