@use "./../../abstracts" as *;

.calculator__panel {
    padding: var(--SPACING-MD);
    margin: var(--SPACING-SM);
    margin-bottom: 0;
    color: var(--TEXT-COLOR);

    h3 {
        @extend %offscreen;
    }

    &-output {
        @include flex(center, flex-end, column);
        padding-top: 0.5rem;

        &-main {
            padding: var(--SPACING-SM);
            font-size: 2.5rem;
            text-align: right;
            flex-grow: 1;
            width: 100%;
            background-color: transparent;
            border: none;
            outline-color: transparent;
        }

        &-prev {
            width: 100%;
            text-align: right;
            padding: var(--SPACING-SM);
            padding-bottom: var(--SPACING-XS);
            margin-bottom: 3px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 3px;
            }

            &::-webkit-scrollbar-track {
                background: var(--TEXT-COLOR-OPPOSITE);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--CALC-PANEL-SCROLLBAR);
                border-radius: 10px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: var(--CALC-PANEL-SCROLLBAR-HOVER);
            }
        }
    }
}