@use "./../../abstracts" as *;

.calculator__panel-header {
    @include flex(flex-end, center);

    #calculator-history-btn {
        @include neumorphic-btn(FOOTER);
        width: 10%;
        aspect-ratio: 1/1;
        border-radius: 50% 50% 0 50%;

        i {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #open-history {
            animation: fade-in 0.5s forwards;
        }

        #close-history {
            opacity: 0;
            // animation: fade-out 0.25s forwards;
        }

        // TODO - close history mobile is the default, then media query
        // TODO - make history come from top - for history panel

        #close-history-mobile {
            display: none;
        }

        &.history-active {
            border-radius: 50% 0 50% 50%;
            
            #open-history {
                animation: fade-out 0.25s forwards;
            }

            #close-history {
                animation: fade-in 0.5s forwards;
            }
        }

        @include media-sm { //idk if this is the right size
            //TODO - change close hisotyr icons

            &.history-active {
                border-radius: 50% 50% 0 50%;
            }    
        }
    }
}

.calculator__history {
    @include neumorphic(CALC);
    width: clamp(150px, 50vw, 325px);
    height: clamp(320px, 82vh, 675px);
    padding: var(--SPACING-MD);
    order: 1;
    overflow: hidden;
    display: none;
    animation: hide-history-panel 0.35s 0.05s backwards;
    color: var(--TEXT-COLOR);

    &.history-panel-active {
        @include flex(unset, unset, column);
        animation: show-history-panel 0.35s forwards;
    }

    @keyframes show-history-panel {
        from { 
            width: 0; 
            opacity: 0;
        }
        30% {
            opacity: 0.8;
        }
        to { 
            opacity: 1;
            width: 325px;
        }
    }

    @keyframes hide-history-panel {
        from { 
            @include flex(unset, unset, column);
            opacity: 1;
            width: 325px; 
        }
        70% {
            opacity: 0.4;
        }
        to { 
            width: 0; 
            padding: 0;
            opacity: 0;
        }
    }

    h3 {
        @extend %offscreen;
    }

    &-header {
        @include flex(flex-end, center);
        padding: var(--SPACING-SM);
        animation: fade-out 0.15s forwards;

        &.history-header-active {
            animation: fade-in 0.15s 0.125s backwards;
        }

        button {
            @include neumorphic-btn(HEADER);
            width: 30%;
            margin-right: var(--SPACING-XS);
            padding: var(--SPACING-MD) var(--SPACING-SM);
        }
    }

    &-entries {
        flex-grow: 1;
        padding: var(--SPACING-MD);
        padding-bottom: 0;
        margin: var(--SPACING-SM);
        overflow-y: auto;
        animation: fade-out 0.15s forwards;

        &.entries-active {
            animation: fade-in 0.15s 0.125s backwards;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: var(--CALC-SCROLLBAR-TRACK);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--CALC-SCROLLBAR);
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: var(--CALC-SCROLLBAR-HOVER);
        }

        .calculator__history-entry {
            @include flex(center, flex-end, column);
            border-top: 1px solid var(--CALC-HISTORY-BORDER-COLOR);
            padding: var(--SPACING-SM) 0;

            .entry-header {
                width: 100%;
                @include flex(center, center);

                &-time {
                    flex-grow: 1;
                    padding-left: var(--SPACING-MD);
                }

                &-copy, &-delete {
                    background-color: transparent;
                    color: var(--TEXT-COLOR);
                    border: none;
                    padding: var(--SPACING-MD);
                    cursor: pointer;
                    font-size: 1.1rem;
                    line-height: 1rem;
                    border-radius: 10px;
                    transition: 
                        transform 0.15s, 
                        background-color 0.125s;

                    &:hover, &:focus-visible {
                        background-color: var(--PANEL-LIGHT);
                    }
        
                    &:active {
                        transform: scale(0.925);
                        transition: transform 0.075s;
                        background-color: var(--PANEL-DARK);
                    }
                }
            }
            
            .entry-body {
                width: 100%;
                padding: 0 var(--SPACING-MD);

                .entry-input {
                    width: 100%;
                    text-align: right;
                    margin-bottom: 3px;
                    overflow-x: auto;
        
                    &::-webkit-scrollbar {
                        height: 1px;
                    }
        
                    &::-webkit-scrollbar-track {
                        background: var(--CALC-SCROLLBAR-TRACK);
                        border-radius: 10px;
                    }
        
                    &::-webkit-scrollbar-thumb {
                        background: var(--CALC-SCROLLBAR);
                        border-radius: 10px;
                    }
                    
                    &::-webkit-scrollbar-thumb:hover {
                        background: var(--CALC-SCROLLBAR-HOVER);
                    }
                }

                .entry-output {
                    width: 100%;
                    font-size: 1.5rem;
                    text-align: right;
                }
            }
        }
    }
}