@use "./../abstracts" as *;

#outer-container {
    height: 100vh;
    @include flex(unset, unset, column);
    background-position: center;
    background-size: cover;

    // white sample
    // background-image: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // gray sample
    // background-image: url("https://images.unsplash.com/photo-1623212209063-a1295bdb54fc?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // black sample
    // background-image: url("https://images.unsplash.com/photo-1513569771920-c9e1d31714af?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // brown sample
    // background-image: url("https://images.unsplash.com/photo-1576899244078-180364e39ca1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // maroon sample
    // background-image: url("https://images.unsplash.com/photo-1595502427603-3a6b5077ab78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // red sample
    // background-image: url("https://images.unsplash.com/photo-1600932717369-d507b606a25d?q=80&w=1916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // orange sample
    // background-image: url("https://images.unsplash.com/photo-1548504769-900b70ed122e?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // yellow sample
    // background-image: url("https://images.unsplash.com/photo-1523111104692-1def874394b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // limeGreen sample
    // background-image: url("https://images.unsplash.com/photo-1497211419994-14ae40a3c7a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // green sample
    // background-image: url("https://images.unsplash.com/photo-1488330890490-c291ecf62571?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // teal sample
    // background-image: url("https://images.unsplash.com/photo-1521080755838-d2311117f767?q=80&w=1924&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // blue sample
    // background-image: url("https://images.unsplash.com/photo-1523633589114-88eaf4b4f1a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // purple sample
    // background-image: url("https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // pink sample
    // background-image: url("https://images.unsplash.com/photo-1520052205864-92d242b3a76b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.calculator__container {
    @include flex(center, flex-start);
    height: 100%;
    background-color: var(--MAIN-COLOR-COVER);
    position: relative;

    .calculator {
        @include neumorphic(CALC);
        @include flex(unset, unset, column);
        padding: var(--SPACING-MD);
        position: absolute;
        z-index: 1;
        overflow: hidden;
        animation: none;
        width: clamp(150px, 95vw, 310px);
        height: clamp(100px, 80vh, 425px);
        top: 30vh;
        transform: translateY(-32%);
        border-radius: 16px;
    }
}

@include media-landscape {
    .calculator__container .calculator {
        top: 0;
        transform: translateY(0);
        height: clamp(80px, 80vh, 300px);
        border-radius: 12px;
    }
}

@media screen and (max-width: 319.9px) and (min-aspect-ratio: 25/20) {
    .calculator__panel .calculator__panel-output {
        .calculator__panel-output-prev {
            display: none;
        }

        .calculator__panel-output-main {
            padding: none;
            font-size: var(--FS-BTN-LG);
        }
    }
}

@include media-xs {
    .calculator__container .calculator {
        width: clamp(280px, 94vw, 450px);
        height: clamp(340px, 75vh, 610px);
        border-radius: clamp(22px, 5.5vw, 28px);
    }
}

@media screen and (min-width: 320px) and (max-width: 575.9px) and (min-aspect-ratio: 25/19) {
    .calculator__panel .calculator__panel-output {
        .calculator__panel-output-prev {
            display: none;
        }

        .calculator__panel-output-main {
            padding: none;
            font-size: var(--FS-BTN-LG);
        }
    }

    .calculator__container .calculator {
        top: 0;
        transform: translateY(0);
        width: clamp(300px, 85vw, 550px) !important;
        border-radius: 22px !important;
    }

    .themes .themes__panel {
        border-radius: 22px !important;
    }

    .themes .themes__panel {
        width: clamp(300px, 85vw, 550px) !important;
    }

    .calculator__history {
        width: clamp(300px, 85vw, 550px) !important;
    }

    :root {
        --FS-BTN-LG: clamp(0.85rem, 3.75vw, 1.65rem) !important;
        --FS-BTN-MD: clamp(0.45rem, 3vw, 1.15rem) !important;
        --FS-BTN-SM: clamp(0.25rem, 2.5vw, 0.9rem) !important;
    }
}

@include media-xs-landscape {
    .calculator__container .calculator {
        top: 0;
        transform: translateY(0);
        width: clamp(300px, 96vw, 550px);
        height: clamp(200px, 85vh, 420px);
        border-radius: 28px;
    }
}

@include media-sm {
    .calculator__container .calculator {
        width: clamp(495px, 75vw, 530px);
        height: clamp(510px, 84vh, 720px);
    }
}

@media screen and (min-width: 576px) and (max-width: 767.9px) and (min-aspect-ratio: 25/16) {
    .calculator__panel .calculator__panel-output {
        .calculator__panel-output-prev {
            display: none;
        }

        .calculator__panel-output-main {
            padding: none;
            font-size: var(--FS-BTN-LG);
        }
    }

    .calculator__container .calculator {
        top: 0;
        transform: translateY(0);
        width: clamp(500px, 80vw, 570px) !important;
        border-radius: 20px !important;
    }

    .themes .themes__panel {
        border-radius: 20px !important;
    }

    .themes .themes__panel {
        width: clamp(500px, 80vw, 570px) !important;
    }

    .calculator__history {
        width: clamp(500px, 80vw, 570px) !important;
    }

    :root {
        --FS-BTN-LG: clamp(1.35rem, 3.65vw, 1.75rem) !important;
        --FS-BTN-MD: clamp(0.85rem, 2.65vw, 1.3rem) !important;
        --FS-BTN-SM: clamp(0.75rem, 2.375vw, 1.15rem) !important;
    }
}

@include media-sm-landscape {
    .calculator__container .calculator {
        top: 0;
        transform: translateY(0);
        width: clamp(525px, 90vw, 700px);
        height: clamp(260px, 80vh, 575px);
        border-radius: 30px;
    }
}

@include media-md {
    .calculator__container {
        @include flex(center, center);
        position: static;
        
        .calculator {
            position: relative;
            top: unset;
            transform: translateY(0);
            width: clamp(375px, 55vw, 450px);
            height: clamp(450px, 80vh, 615px);
            border-radius: 32px;
        }
    }
}

@include media-lg {
    .calculator__container .calculator {
        width: clamp(450px, 45vw, 475px);
        height: clamp(550px, 81vh, 650px);
    }
}

@include media-xl {
    .calculator__container .calculator {
        width: max(475px, 30vw);
        height: max(650px, 41.1vw);
        border-radius: max(32px, 2.08vw);
    }
}