@use "./../abstracts" as *;

#outer-container {
    height: 100vh;
    @include flex(unset, unset, column);
    background-position: center;
    background-size: cover;

    // white sample
    // background-image: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // gray sample
    // background-image: url("https://images.unsplash.com/photo-1623212209063-a1295bdb54fc?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // black sample
    // background-image: url("https://images.unsplash.com/photo-1513569771920-c9e1d31714af?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // brown sample
    // background-image: url("https://images.unsplash.com/photo-1576899244078-180364e39ca1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // maroon sample
    // background-image: url("https://images.unsplash.com/photo-1595502427603-3a6b5077ab78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    // red sample
    // background-image: url("https://images.unsplash.com/photo-1600932717369-d507b606a25d?q=80&w=1916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.calculator__container {
    @include flex(center, center);
    height: 100%;
    background-color: var(--MAIN-COLOR-COVER);

    .calculator {
        @include neumorphic(CALC);
        @include flex(unset, unset, column);
        width: clamp(250px, 85vw, 475px);
        height: clamp(320px, 82vh, 675px);
        padding: var(--SPACING-MD);
        position: relative;
        z-index: 1;
    }
}

.test {
    color: hsl(194, 81%, 90%);
}