@use "./../abstracts" as *;

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: var(--SPACING-XL);
    margin-bottom: var(--SPACING-LG);
    @include flex(center, flex-end, column);
}