@mixin button-init($box-shadow) {
    margin: 0.25rem;
    border-radius: 7px;
    border: 1px solid var(--BTN-BORDER-COLOR);
    cursor: pointer;
    transition: box-shadow 0.25s, text-shadow 0.25s, filter 0.1s;
    color: var(--TEXT-COLOR);
    position: relative;
    
    &:hover, &:focus-visible {
        box-shadow: $box-shadow;
    }

    &:active {
        filter: brightness(0.95);
    }

    // TODO: Finish the button displays and their shadows and shtuff

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        width: 85%;
        height: 85%;
        background-image: radial-gradient(transparent, hsla(195, 53%, 79%, 0.7));
    }
}