footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @include flex(space-evenly);

    .keyboard-shortcuts {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 1rem;

        > p {
            position: relative;
            margin-bottom: 0.5rem;
            width: 250px;
            cursor: pointer;

            &:hover::before {
                content: "I Know";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: white;
                @include flex();  
            }
        }

        > button {
            padding: 0.25rem 0.5rem;
        }

        table {
            display: block;
        }
    }

    .settings {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        margin: 1rem;

        > button {
            position: absolute;
            right: 0;
            top: 0;
            translate: 0 -100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0.25rem;
            font-size: 1.5rem;
            transition: transform 0.75s, filter 0.5s;
            color: hsl(0, 0%, 24%);
            cursor: pointer;

            &:is(:hover, :focus-visible) {
                transform: rotate(120deg) scale(1.2);
                filter: drop-shadow(1px -1px 2px rgb(179, 179, 179));
            }
        }

        &__panel {
            border-radius: 10px;
            background-color: var(--MAIN-COLOR);
            padding: 0.5rem;
            position: absolute;
            right: 0;
            bottom: 40px;
            @include flex(center, flex-start, column);
            gap: 0.15rem 0.25rem;

            button, form {
                @include flex(flex-start);
                gap: 1ch;
                width: 100%;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 0.25rem;

                &:hover {
                    border: 1px solid white;
                }
            }

            form input {
                order: -1;
                accent-color: var(--TEXT-COLOR);
                border: 1px solid red;
            }
        }
    }
}