.themes {
    position: relative;

    &__btn {
        @include flex;
        gap: 0.25rem;
        padding: 0.25rem;

        .themes__current {
            width: 15px;
            height: 15px;
            background: var(--BG-COLOR);
            border-radius: 50%;
            border: 1px solid black;
        }

        .themes__text {
            display: none;
        }

        @include media-sm {
            .themes__text {
                display: inline;
            }
        }
    }

    &__panel {
        display: none;
        position: absolute;
        gap: 0.25rem;
        left: 0;
        padding: 0.5rem;
        background-color: gainsboro;

        &-option {
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
        }
    }

    &__panel.active {
        @include flex(center, center, row, wrap);
    }
}