.themes {
    position: relative;

    &__btn {
        display: flex;
        gap: 0.25rem;
        flex-flow: row wrap;
        padding: 0.25rem;
        justify-content: center;
        align-items: center;

        .themes__current {
            width: 15px;
            height: 15px;
            background: red;
            border-radius: 50%;
            border: 1px solid black;
        }

        .themes__text {
            display: none;
        }

        @include media-sm {
            .themes__text {
                display: inline;
            }
        }
    }

    &__panel {
        display: none;
        //display: flex;
        flex-flow: row wrap;
        position: absolute;
        gap: 0.25rem;
        left: 0;
        padding: 0.5rem;
        background-color: gainsboro;

        &-option {
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
        }
    }

    &__panel.active {
        display: flex;
    }
}