// all variables go here

@use "./responsive" as *;

:root {
    /* Default theme is white */

    /****************** COLORS ******************/
    --MAIN-COLOR: #f7f7f7;
    --MAIN-COLOR35: hsla(0, 0%, 97%, 0.35);

    --TEXT-COLOR: #111;
    --TEXT-COLOR-OPPOSITE: #f7f7f7;

    --PANEL-LIGHT: hsla(0, 0%, 96%, 0.95);
    --PANEL-DARK: hsla(0, 0%, 43%, 0.25);
    --PANEL-SHADOW-COLOR: hsla(0, 0%, 23%, 0.4);

    --CALC-PANEL-SCROLLBAR: hsla(0, 0%, 29%, 0.65);
    --CALC-PANEL-SCROLLBAR-HOVER: hsla(0, 0%, 17%, 0.75);
    
    --CALC-BG-LIGHT: hsla(0, 0%, 91%, 0.45);
    --CALC-BG-DARK: hsla(0, 0%, 73%, 0.35);

    --CALC-BORDER-COLOR: hsla(0, 0%, 96%, 0.95);
    --CALC-SHADOW-COLOR: hsla(0, 0%, 57%, 0.75);

    --BTN-BG-OPERAND-LIGHT: hsl(0, 0%, 97%);
    --BTN-BG-OPERAND-LIGHT80: hsla(0, 0%, 97%, 0.8);
    --BTN-BG-OPERAND-LIGHT60: hsla(0, 0%, 97%, 0.6);
    --BTN-BG-OPERAND-DARK: hsl(0, 0%, 85%);
    --BTN-BG-OPERAND-DARK80: hsla(0, 0%, 85%, 0.8);
    --BTN-BG-OPERAND-DARK60: hsla(0, 0%, 85%, 0.6);

    --BTN-BG-OPERATOR-LIGHT: hsl(196, 45%, 93%);
    --BTN-BG-OPERATOR-LIGHT80: hsla(196, 45%, 93%, 0.8);
    --BTN-BG-OPERATOR-LIGHT60: hsla(196, 45%, 93%, 0.6);
    --BTN-BG-OPERATOR-DARK: hsl(204, 18%, 75%);
    --BTN-BG-OPERATOR-DARK80: hsla(204, 18%, 75%, 0.8);
    --BTN-BG-OPERATOR-DARK60: hsla(204, 18%, 75%, 0.6);

    --BTN-BG-SPECIAL-LIGHT: hsl(195, 2%, 67%);
    --BTN-BG-SPECIAL-LIGHT80: hsla(195, 2%, 67%, 0.8);
    --BTN-BG-SPECIAL-LIGHT60: hsla(195, 2%, 67%, 0.6);
    --BTN-BG-SPECIAL-DARK: hsl(192, 3%, 44%);
    --BTN-BG-SPECIAL-DARK80: hsla(192, 3%, 44%, 0.8);
    --BTN-BG-SPECIAL-DARK60: hsla(192, 3%, 44%, 0.6);
    
    --BTN-SHADOW-COLOR: hsla(0, 0%, 23%, 0.35);

    --BTN-TEXT-SHADOW-OPERAND-COLOR: hsla(0, 0%, 53%, 0.55);
    --BTN-TEXT-SHADOW-OPERATOR-COLOR: hsla(204, 4%, 53%, 0.8);
    --BTN-TEXT-SHADOW-SPECIAL-COLOR: hsla(0, 0%, 72%, 0.5);

    /****************** SHADOWS ******************/
    --CALC-SHADOW: 
        2px 2px 14px var(--CALC-SHADOW-COLOR), 
        2px 2px 24px var(--CALC-SHADOW-COLOR);

    --HEADER-SHADOW: 
        -2px -2px 8px var(--PANEL-LIGHT), 
        2px 2px 8px var(--PANEL-SHADOW-COLOR);

    --FOOTER-SHADOW: 
        -2px -2px 8px var(--PANEL-LIGHT), 
        2px 2px 8px var(--PANEL-SHADOW-COLOR);

    --BTN-SHADOW: 
        2px 2px 14px var(--BTN-SHADOW-COLOR);
    
    --BTN-SHADOW-ACTIVE: 
        1px 2px 16px var(--BTN-SHADOW-COLOR),
        1px 2px 6px var(--BTN-SHADOW-COLOR);

    --BTN-TEXT-SHADOW-OPERAND: 0 0 3px var(--BTN-TEXT-SHADOW-OPERAND-COLOR);
    --BTN-TEXT-SHADOW-OPERATOR: 0 0 3px var(--BTN-TEXT-SHADOW-OPERATOR-COLOR);
    --BTN-TEXT-SHADOW-SPECIAL: 0 0 3px var(--BTN-TEXT-SHADOW-SPECIAL-COLOR);

    /****************** BORDERS ******************/

    --CALC-BORDER: 1px solid var(--CALC-BORDER-COLOR);

    /****************** SPACING (PADDING & MARGIN & GAP) ******************/

    //TODO: MAKE ALL SPACING AND FONT-SIZES use the calc(function)
    //THEN, make them all into certain media queries
    //THIS WILL HANDLE ALL SPACING AND FONT SIZE RESPONSIVENESS

    --SPACING-XL: 1.25rem;
    --SPACING-LG: 1rem;
    --SPACING-MD: 0.5rem;
    --SPACING-SM: 0.25rem;
    --SPACING-XS: 0.125rem;

    @include media-lg {
        // you get the memo kevin
        // redefine all spacing in here
    }

    /****************** FONT SIZES ******************/
    --FS-MD: 1rem;
}