@use "./../../abstracts" as *;

.themes {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: var(--SPACING-XL);

    h2 {
        @extend %offscreen;
    }

    &__btn {
        @include neumorphic(HEADER-BTN);
        @include flex;
        gap: var(--SPACING-SM);
        padding: var(--SPACING-MD);
        cursor: pointer;

        .themes__current {
            width: 15px;
            height: 15px;
            background: var(--MAIN-COLOR);
            border-radius: 50%;
            border: 1px solid black;
        }

        .themes__text {
            display: none;
        }

        @include media-md {
            .themes__text {
                display: inline;
            }
        }

        #open-themes {
            animation: fade-in 0.5s forwards;
        }

        #close-themes {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-80%, -45%);
            opacity: 0;
            
            // animation: fade-out 0.25s forwards;
        }

        &.themes-active {

            #open-themes {
                animation: fade-out 0.25s forwards;
            }

            #close-themes {
                animation: fade-in 0.5s forwards;
            }
        }
    }

    &__panel {
        z-index: 1;
        display: none;
        position: absolute;
        left: 0;
        gap: var(--SPACING-SM);
        padding: var(--SPACING-MD);
        background-color: gainsboro;

        &-option {
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
        }

        &.panel-active {
            @include flex(center, center, row, wrap);
        }
    }
}

@include media-sm {
    .themes {
        display: block;
    }
}